html,body{
    background-image: url("../images/home.jpg");
    background-position: center;
    background-size: cover;
    height: 100%
}   
.menuBar{
    background-color: white;
    border-radius: 50px;
    height: 38px;
    box-shadow: -3px 3px 11px black;
    
}
.logo{
    width: 2rem;
    margin-top: 5px;
    text-align: center;
} 
.menuList{
    list-style: none;
    text-align: center;
    word-spacing: 1rem;
}
.menuList li{
    display: inline;
    font-size: xx-small;
}
.buttons{
    text-align: center;
}
.icerik{
    margin-top: 8rem;
    color: rgb(192, 189, 189);
}
.btn{
    border: 5px;
    border-color: rgb(80, 74, 74);
    color: rgb(192, 189, 189);
    background-color: rgb(80, 74, 74);
    box-shadow: -3px 3px 11px black;
    border-radius: 10px;
}
.btn:hover{
   color: black;
   background-color: white;
}
